.side-bar {
  * {
    transition: all 0.3s ease;
  }

  z-index: 2;
  width: 100%;
  max-width: 250px;
  min-width: 250px;
  @media (max-width: 991.98px) {
    position: fixed;
    bottom: 0;
    max-width: 100%;
    z-index: 1;
  }
  &__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    @media (max-width: 991.98px) {
      display: none;
    }
  }
  &__position {
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 145%;
    color: #b8bfcc;
  }
  &__name {
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 167%;
    color: #1f2633;
  }
  &__user {
    width: 100%;
    display: block;
    padding-bottom: 32px;
    border-bottom: 1px solid #e9ebf0;
  }
  &__title {
    text-align: start;
    width: 100%;
    padding: 0 5px 0 25px;
    font-weight: 700;
    line-height: 167%;
    margin-top: 35px;
    margin-bottom: 25px;
    color: #98a2b2;
  }
  &__img {
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background: center / cover no-repeat url("/user-line-around.svg");
      position: absolute;
      top: 0px;
      right: -2px;
      transform: scale(1.5);
    }
    margin-right: 15px;
    display: block;
    width: 80px;
    min-width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  &__wrap {
    position: relative;
    height: 100%;
  }
  &.open {
    .side-bar__container {
      opacity: 1;
      transition: all 0.4s ease;
    }
    left: 0;
  }

  transition: all 0.5s ease;

  .open-menu {
    z-index: 9;
    right: -30px;
    position: absolute;
    z-index: 9;
    left: auto;
    top: 20%;
  }

  .side-bar__link {
    &.active.count::after {
      background: var(--secondary-color);
    }
    &.count::after {
      content: attr(data-count);
      display: flex;
      align-items: center;
      margin: auto 0 auto auto;
      font-weight: 800;
      border-radius: 16px;
      min-width: 24px;
      box-sizing: border-box;
      font-size: 10px;
      padding: 4.5px 8px;
      background: rgba(59, 130, 246, 0.1);
      height: 24px;
      line-height: 160%;
      text-align: center;
      color: #2563eb;
    }
    justify-content: flex-start;
    padding-right: 10px;
    span {
      display: block;
      opacity: 1;
      position: relative;
      left: 0;
    }
  }
  &.show {
    max-width: 220px;
    .side-bar__link {
      justify-content: flex-start;
      span {
        display: block;
        opacity: 1;
        position: relative;
        left: 0;
      }
    }
  }
  &__container {
    position: relative;
    padding: 30px 0;
    background: #f3f5f9;
    border-right: 1px solid rgba(151, 151, 151, 0.2941176471);
    height: 100%;
    display: flex;
    flex-direction: column;
    // opacity: 0;
    opacity: 1;
    transition: all 0.5s ease;

    @media (max-width: 991.98px) {
      padding: 8px 20px;
      background: var(--secondary-color);
    }
    @media (max-width: 575.98px) {
      background: center/contain no-repeat url("/dashboard-footer.svg");
      background-size: 100% auto;
      &.hide-bg {
        background: none;
        padding: 0;
      }
    }
  }

  // .side-bar__logo

  &__logo {
    width: 55px;
    height: 55px;
    background: center/contain no-repeat url("/logo-test.svg");
    margin: 0 auto;
  }

  // .side-bar__column

  &__column {
    flex: 1;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    @media (max-width: 991.98px) {
      min-height: 70px;
    }
  }

  // .side-bar__link
  &__box {
    padding: 0 5px 0 25px;
    width: 100%;
    @media (max-width: 991.98px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0;
    }
  }
  &__nested {
    padding-left: 20px;
  }
  &__link {
    span {
      opacity: 0;
      position: absolute;
      padding: 13px;
      letter-spacing: 0.02em;
      color: var(--primary-color);
    }
    display: flex;
    align-items: stretch;

    &.active {
      width: 100%;
      border-radius: 6px;
      background: #4880ff;
      &::before {
        content: "";
        display: block;
        left: -29px;
        position: relative;
        width: 9px;
        background: #4880ff;
        border-radius: 4px;
      }
      span {
        color: var(--secondary-color);
      }
    }
    @media (max-width: 991.98px) {
      flex-direction: column;
      align-items: center;
      font-weight: 400;
      font-size: calc(min(3vw, 15px));

      line-height: 125%;
      letter-spacing: 0.02em;
      span {
        padding: 0;
        color: #a2a2a2;
      }
      &::before {
        content: "";
        width: 35px;
        max-width: 25px;
        height: 35px;
        display: block;
        background: no-repeat url("/dashboard-icon-mobile.svg");
      }

      &.active {
        &::before {
          width: 35px;
          max-width: 25px;
          left: 0;
          background: no-repeat url("/dashboard-icon-mobile.svg");
          background-color: transparent;
        }
        span {
          color: #a2a2a2;
        }
        width: auto;
        justify-content: center;
        align-items: center;
        background-color: transparent;
      }

      &-templates::before {
        background-position-x: 32%;
      }
      &-account::before {
        background-position-x: 66%;
      }
      &-inbox::before {
        background-position-x: 100%;
      }
    }
  }
  .sign-out-button {
    margin: 0 16px;
    max-width: 200px;
    width: 100%;
  }
}
