.auth {
  padding: 79px 0;
  height: 100%;
  &__container {
    padding: 50px 30px;
    box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.08);
    background: var(--secondary-color);
    margin: 0 auto;
    border-radius: 40px;
    max-width: 590px;
    width: 100%;
  }
  &__text {
    margin-top: 33px;
    text-align: center;
    color: #ababab;
    text-transform: uppercase;
  }
  &__box {
    justify-content: center;
    margin: 33px -10px 0;
    align-items: stretch;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    height: 100%;
    border-radius: 9px;
    background: #f6f6f6;
    color: var(--primary-color);
    &_phone::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background: center/contain no-repeat url("/phone-white.svg");
    }
  }
  &__item {
    margin: 0 10px;
  }
}
