.benefits {
  // .benefits__container

  &__container {
    padding-top: calc(min(5vw, 50px));
    padding-bottom: calc(min(5vw, 50px));
  }

  // .benefits__row

  &__row {
    justify-content: space-between;
    margin: 0 -12px;
    @media (max-width: 1199.98px) {
      margin: 0;
    }
    @media (max-width: 991.98px) {
      flex-direction: column;
    }
  }

  // .benefits__info

  &__info {
    margin: 0 6px;
    max-width: 600px;
    width: 100%;
    @media (max-width: 991.98px) {
      max-width: 100%;
      margin: 0;
    }
  }

  // .benefits__title

  &__title {
    font-weight: 500;
    p {
      &:last-of-type {
        margin-bottom: 15px;
      }
      padding: 0 5px;
    }
    font-size: calc(min(7vw, 64px));
    @media (max-width: 991.98px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px;
    }

    line-height: 100%;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    span {
      padding: 0 2px;
      display: block;
      //   font-size: calc(min(5vw, 64px));
      margin-top: calc(min(2vw, 15px));
      text-transform: none;
      font-weight: 500;
      font-size: calc(min(5vw, 18px));
      line-height: 100%;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  // .benefits__box

  &__box {
    margin: 0 6px;
    max-width: 600px;
    width: 100%;
  }

  // .benefits__item

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  // .benefits__name

  &__name {
    font-weight: 500;
    font-size: calc(min(5vw, 32px));
    text-transform: capitalize;
    white-space: nowrap;
    white-space: preserve;
    span {
      @media (max-width: 1199.98px) {
      }
      display: block;
      font-weight: 500;
      font-size: calc(min(5vw, 16px));
      line-height: 150%;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  // .benefits__icon

  &__icon {
    @media (max-width: 575.98px) {
      border-radius: 10px;
    }
    margin-right: calc(min(2vw, 32px));
    background: #3461ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    min-width: calc(min(12vw, 106px));
    height: calc(min(12vw, 106px));
  }
}
