.about {
  // .about__container
  padding-bottom: 100px;

  &__container {
    background: #232038;
    border-radius: 56px;
    @media (max-width: 767.98px) {
      border-radius: 0;
    }
    padding: calc(min(5vw, 50px));
    color: #fff;
  }

  // .about__row

  &__row {
    justify-content: space-between;
  }

  // .about__info

  &__info {
    width: 40%;
    @media (max-width: 767.98px) {
      width: 100%;
    }
  }

  // .about__title

  &__title {
    font-weight: 500;
    @media (max-width: 767.98px) {
      text-align: center;
    }
    font-size: calc(min(6vw, 56px));
    line-height: 112%;
    text-transform: capitalize;
    margin-bottom: calc(min(7vw, 80px));
  }

  // .about__link

  &__link {
    max-width: 250px;
    @media (max-width: 767.98px) {
      margin: 0 auto;
    }
  }

  // .about__circle

  &__circle {
    @media (max-width: 767.98px) {
      display: none;
    }
    max-width: calc(min(40vw, 350px));
    width: 100%;
    height: calc(min(40vw, 350px));
    background-color: #e0ff22;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}
