.assistance-page {
  // .assistance-page__container

  &__container {
    padding: calc(min(5vw, 50px)) 15px;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
  }

  // .assistance-page__title

  &__title {
    text-align: center;
    margin-bottom: calc(min(5vw, 30px));
  }
  &__desc {
    text-align: center;
    font-size: calc(min(8vw, 14px));
  }
  // .assistance-page__accordion

  &__accordion {
    margin: 25px 0;
  }

  // .assistance-page__box

  &__box {
    margin-bottom: calc(min(8vw, 50px));
  }

  // .assistance-page__name

  &__name {
    font-size: calc(min(4vw, 20px));
    margin-bottom: 15px;
  }
  &__item {
    padding: calc(min(2vw, 15px));
    margin-left: 25px;

    @media (max-width: 575.98px) {
      margin-left: 0px;
    }
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    // }
  }
}
