.checkbox-form {
  // .checkbox-form__container

  &__container {
    padding: 20px 0 10px;
  }

  // .checkbox-form__row

  &__row {
    justify-content: space-between;
    margin-bottom: 15px;
    @media (max-width: 575.98px) {
      flex-direction: column;
      align-items: self-start;
    }
  }
  &__btns {
    margin: 0 -5px;
    button {
      margin: 0 5px;
    }
    @media (max-width: 767.98px) {
      flex-direction: column;
      button {
        text-transform: lowercase;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 5px;
      }
    }
    @media (max-width: 575.98px) {
      margin-top: 15px;
    }
  }
  // .checkbox-form__title

  &__button {
    padding: 8px;
  }
  &__button-add {
    padding: 10px;
    border-radius: 5px;
  }

  // .checkbox-form__items
  &__item {
    &:last-of-type:after {
      content: none;
    }
    &::after {
      content: "";
      width: 1px;
      height: 20px;
      display: block;
      background: #a8a8a8;
      margin-left: 8px;
    }
  }
  &__items {
    padding-left: 20px;
    margin-bottom: 15px;
  }

  &__label {
    font-size: 12px;
  }

  // .checkbox-form__input

  &__input {
    padding: 5px;
    margin-bottom: 10px;
  }

  // .checkbox-form__flex

  &__flex {
    margin: 0 -5px;
    button {
      padding: 5px;
      max-width: 100px;
      width: 100%;
      margin: 0 5px;
    }
  }

  // .checkbox-form__button

  &__button {
  }
}
