.card-sidebar {
  // display: none;

  // .card-sidebar__container

  &__container {
    padding-top: 50px;
    @media (max-width: 767.98px) {
      padding-top: 25px;
    }
  }

  // .card-sidebar__title

  &__title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
  }

  // .card-sidebar__item

  &__item {
    margin-bottom: 12px;
    &.archived {
      margin-top: 25px;
      button {
        padding: 5px;
      }
    }
  }
}
