:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --purple-dark-color: #27104e;
}
.wrap {
  padding-left: 160px;
}
.content-wrap {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
body {
  padding: 25px 0;
  color: var(--primary-color);
  font-weight: 400;
  font-size: 16px;
  height: 100vh;
  // max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}
.text-error {
  color: #ff432a;
  font-size: 12px;
}

.text-center {
  text-align: center;
}
.auth-container {
  padding: 50px 30px;
  box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.08);
  background: var(--secondary-color);
  margin: 0 auto;
  border-radius: 40px;
  max-width: 590px;
  width: 100%;
}
@media (max-width: 575.98px) {
  .auth-container {
    padding: 30px 20px;
  }
}
.auth {
  padding: 79px 0;
  height: 100%;
  &__container {
  }
  &__text {
    margin-top: clamp(15px, 3vw, 33px);
    text-align: center;
    color: #ababab;
    text-transform: uppercase;
  }
  &__box {
    justify-content: center;
    margin: 33px -10px 0;
    align-items: stretch;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(9px, 3vw, 15px);
    height: 100%;
    border-radius: 9px;
    background: #f6f6f6;
    color: var(--primary-color);
    &_phone::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background: center/contain no-repeat url("/phone-white.svg");
    }
  }
  &__item {
    margin: 0 10px;
  }
}
@media (max-width: 1399.98px) {
  .auth {
    padding: 33px 20px;
  }
}
@media (max-width: 575.98px) {
  .auth {
    &__link {
      font-size: 12px;
      text-align: center;
    }
    &__box {
      margin-top: 15px;
    }
    &__container {
      padding: 30px 20px;
    }
  }
}

.register {
  &__title {
    font-size: clamp(16px, 2.5vw, 20px);
  }
  &__row {
    align-items: start;
    justify-content: space-between;
  }
  &__text {
    font-size: clamp(13px, 2.5vw, 16px);
    color: #8d8d8d;
    a {
      // font-size: 16px;
      color: #b87514;
    }
  }
  &__subtitle {
    font-weight: 500;
    font-size: clamp(31px, 2.5vw, 49px);
    margin-bottom: 32px;
  }
  &__box {
    width: 100%;
    margin-bottom: clamp(15px, 3vw, 38px);
  }
  &__label {
    margin-bottom: 13px;
    display: block;
  }
  &__input {
    &::placeholder {
      font-weight: 300;
      font-size: 14px;
    }
    &:focus {
      outline: 1px solid var(--primary-color);
    }
    border: 1px solid #adadad;
    border-radius: 9px;
    width: 100%;
    padding: 15px 20px;
  }
  &__button {
    cursor: pointer;
    width: 100%;
    background: #1b193f;
    color: var(--secondary-color);
    border-radius: 15px;
    font-weight: 500;
    box-shadow: 0 4px 19px 0 rgba(63, 71, 45, 0.3);
    padding: 15px 5px;
  }
}
@media (max-width: 575.98px) {
  .register {
    &__text {
      margin-bottom: 10px;
    }
    &__row {
      flex-direction: column-reverse;
    }
    &__label {
      font-size: 13px;
      margin-bottom: 6px;
    }
  }
}

input.input-error {
  border: none;
  outline: 1px solid #ff432a;
}
.button-dark {
  cursor: pointer;
  width: 100%;
  background: #1b193f;
  color: var(--secondary-color);
  border-radius: 15px;
  font-weight: 500;
  box-shadow: 0 4px 19px 0 rgba(63, 71, 45, 0.3);
  padding: 15px 5px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
}

// body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
nav,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

em,
strong,
th {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-size: 100%;
  /*to enable resizing for IE*/
}

a {
  display: block;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}
