@import "/styles/normalize.scss";
@import "/styles/text-styles.scss";
@import "/styles/layout-styles.scss";
@import "/styles/buttons-styles.scss";
@import "/styles/icons-styles.scss";
@import "/styles/components-style.scss";

html {
  &.no-scroll {
    overflow: hidden;
  }
  height: 100%;
  overflow-x: hidden;
}
body {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 16px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.logo {
  &::before {
    content: "";
    display: block;
    min-width: 36px;
    width: 36px;
    height: 21px;
    margin-right: 10px;
    background: center/cover no-repeat url("/Logo-main.svg");
  }
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.07em;
  text-transform: capitalize;
  color: var(--primary-color);
  @media (max-width: 1199.98px) {
    font-size: 16px;
  }
  @media (max-width: 991.98px) {
    font-size: 26px;
  }
}

.note {
  color: #9896a3;
  text-align: center;
  font-size: 20px;
}

.default-input {
  border: 1px solid #adadad;
  border-radius: 9px;
  width: 100%;
}
.default-input_error:focus,
.default-input_error {
  border-color: #fa7070;
  outline: none;
}
.button-more {
  width: 24px;
  height: 24px;
  background: left/cover no-repeat url("/more-icon.svg");
  background-size: 44px;
  transition: none;
  &.active,
  &:hover {
    background-position: right;
  }
}

.default-tags {
  border: 2px solid #333;
  border-radius: 100px;
  box-shadow: 0 4px 0 0 #333;
}

.tooltip {
  position: relative;
  &::after {
    position: absolute;
    content: attr(title);
    background-color: #0000002a;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: -21px;
    transition: opacity 0.3s ease;
    opacity: 0;
    width: max-content;
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

.board-bg {
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
}

input.input-error {
  border: none;
  outline: 1px solid #ff432a;
}
