:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

body {
  padding: 25px 0;
  color: var(--primary-color);
  font-weight: 400;
  font-size: 16px;
}
.flex {
  display: flex;
  align-items: center;
}
.text-error {
  color: #ff432a;
  font-size: 12px;
}
input.input-error {
  border: none;
  outline: 1px solid #ff432a;
}
.button-dark {
  cursor: pointer;
  width: 100%;
  background: #1b193f;
  color: var(--secondary-color);
  border-radius: 15px;
  font-weight: 500;
  box-shadow: 0 4px 19px 0 rgba(63, 71, 45, 0.3);
  padding: 15px 5px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
}

// body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
nav,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

em,
strong,
th {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-size: 100%;
  /*to enable resizing for IE*/
}

a {
  display: block;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}
