.register {
  &__title {
    font-size: clamp(16px, 2.5vw, 20px);
  }
  &__row {
    align-items: start;
    justify-content: space-between;
  }
  &__text {
    font-size: clamp(13px, 2.5vw, 16px);
    color: #8d8d8d;
    a {
      // font-size: 16px;
      color: #b87514;
    }
  }
  &__subtitle {
    font-weight: 500;
    font-size: clamp(31px, 2.5vw, 49px);
    margin-bottom: 32px;
  }
  &__box {
    width: 100%;
    margin-bottom: clamp(15px, 3vw, 38px);
  }
  &__label {
    margin-bottom: 13px;
    display: block;
  }
  &__input {
    &::placeholder {
      font-weight: 300;
      font-size: 14px;
    }
    &:focus {
      outline: 1px solid var(--primary-color);
    }
    border: 1px solid #adadad;
    border-radius: 9px;
    width: 100%;
    padding: 15px 20px;
  }
  &__button {
    cursor: pointer;
    width: 100%;
    background: #1b193f;
    color: var(--secondary-color);
    border-radius: 15px;
    font-weight: 500;
    box-shadow: 0 4px 19px 0 rgba(63, 71, 45, 0.3);
    padding: 15px 5px;
  }
}
@media (max-width: 575.98px) {
  .register {
    &__label {
      font-size: 13px;
      margin-bottom: 6px;
    }
  }
}
