.register {
  &__title {
    font-size: 20px;
  }
  &__row {
    align-items: start;
    justify-content: space-between;
  }
  &__text {
    font-size: 16px;
    color: #8d8d8d;
    a {
      font-size: 16px;
      color: #b87514;
    }
  }
  &__subtitle {
    font-weight: 500;
    font-size: 55px;
    margin-bottom: 32px;
  }
  &__box {
    width: 100%;
    margin-bottom: 38px;
  }
  &__label {
    margin-bottom: 13px;
    display: block;
  }
  &__input {
    &::placeholder {
      font-weight: 300;
      font-size: 14px;
    }

    border: 1px solid #adadad;
    border-radius: 9px;
    width: 100%;
    padding: 15px 20px;
  }
}
