.column-create-form {
  overflow-x: scroll;
  padding: 30px;
  @media (max-width: 575.98px) {
    padding: 15px;
  }

  // .column-create-form__row

  &__row {
    align-items: flex-start;
    margin: 0 -12px;
    // overflow-x: scroll;
    padding-bottom: 35px;
  }

  // .column-create-form__column
  &__column {
    margin-bottom: 15px;
  }
  &__column-dir {
    .column__info {
      display: flex;
      align-items: center;
      margin: 0 -7px;
    }
    .card-display__box {
      max-width: 350px;
      min-width: 350px;
      width: 100%;
      margin: 0 7px;
    }
  }

  // .column-create-form__box

  &__box {
    min-width: 300px;
    max-width: 300px;
    width: 100%;
    box-shadow: 0 4px 19px 0 rgba(63, 71, 45, 0.3);
    background: var(--secondary-color);
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
  }
  &__label {
    margin-bottom: 5px;
  }
  &__flex {
    margin: 15px -5px 0;
    button {
      margin: 0 5px;
      padding: 7px;
    }
  }
  // .column-create-form__form

  &__form {
    padding: 15px;
  }

  // .column-create-form__input

  &__input {
    padding: 6px;
  }

  // .column-create-form__button

  &__button {
    min-width: 200px;
    // max-width: 200px;
    text-align: center;
    padding: 8px;

    &:hover {
      cursor: pointer;
      box-shadow: none;
      background: var(--primary-color);
      color: var(--secondary-color);
    }
  }
}
.flex {
}
.default-input {
}
.btn {
}
.btn-outline-secondary {
}
.d-block {
}
.mt-2 {
}
