.changing-password {
  // .changing-password__title

  &__title {
    display: block;
    font-size: 12px;
    max-width: 380px;
    width: 100%;
    color: #97a3b7;
    font-weight: 400;
    margin-bottom: 15px;
    span {
      width: max-content;
      display: block;
      font-weight: 500;
      margin-bottom: 5px;
      font-size: 18px;
      color: var(--primary-color);
    }
  }

  // .changing-password__box

  &__box {
    position: relative;
  }
  &__label {
    margin-bottom: 15px;
    display: block;
  }

  // .changing-password__input

  &__input {
    padding: 5px 30px 5px 5px;
    border-radius: 15px;

    margin-bottom: 10px;
  }

  // .changing-password__icon

  &__icon {
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    background: no-repeat url("/password-icons.svg");
    background-size: cover;
    background-position: 66%;
    right: 8px;
    bottom: 16px;
    transition: none;
    &.show {
      opacity: 1;
    }
    &.active {
      background-position: 100%;
    }
  }

  // .changing-password__button

  &__button {
    margin-top: 20px;
  }
}
