.text-editor {
  &__container {
    margin-bottom: 15px;
  }
  // .text-editor__row
  img {
    object-fit: contain;
    height: 400px;
    width: 100%;
  }
  &__row {
    margin: 10px -5px 0;
  }

  // .text-editor__button

  &__button {
    padding: 10px;
    margin: 0 5px;
  }

  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border: 1px solid #ccc;
  }
  .text-editor .ql-toolbar.ql-snow {
  }
  .ql-container.ql-snow,
  .ql-toolbar.ql-snow {
    margin-top: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
}
