.preview {
  // .preview__container

  &__container {
    padding-top: 40px;
    padding-bottom: 84px;
  }

  // .preview__row

  &__row {
    justify-content: space-between;
    margin: 0 -12px;
    @media (max-width: 1199.98px) {
      flex-direction: column;
      margin: 0;
    }
  }

  // .preview__info

  &__info {
    max-width: 650px;
    width: 100%;
    margin: 0 6px;
  }
  &__flex {
    flex-wrap: wrap;
    @media (max-width: 575.98px) {
      width: max-content;
      margin: 0 auto;
    }
    p {
      padding: 5px;
    }
  }
  // .preview__title

  &__title {
    font-weight: 600;
    font-size: calc(min(5vw, 96px));
    line-height: 103%;
    letter-spacing: -0.04em;
    text-transform: capitalize;

    span {
      padding: 0 2px;
      margin: calc(min(2vw, 27px)) 0 44px;
      display: block;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      letter-spacing: 0;
      text-transform: none;
      color: rgba(0, 0, 0, 0.6);
    }
    @media (max-width: 575.98px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        font-size: calc(min(5vw, 14px));
      }
    }
  }

  // .preview__link

  &__link {
    max-width: 200px;
    margin-left: auto;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      position: absolute;
      right: 15px;
      top: 20px;
      background: no-repeat url("/arrow-top.svg");
      transform: rotate(90deg);
    }
  }

  // .preview__box

  &__box {
    margin: 0 6px;
    padding: 65px 0 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 608px;
    width: 100%;
    @media (max-width: 991.98px) {
      justify-content: center;
    }
  }

  // .preview__item

  &__item {
    width: 100%;
    border-radius: 119px;
  }

  // .preview__item-1

  &__item-1 {
    // max-width: 363px;
    max-width: min(30vw, 363px);
    // height: 240px;
    height: min(30vw, 240px);
    background: top/cover no-repeat
      url("https://images.unsplash.com/photo-1544717305-2782549b5136?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position-y: 10%;
  }

  // .preview__item-2

  &__item-2 {
    &::before {
      content: "";
      position: relative;
      top: -29%;
      right: 35%;
      display: block;
      max-width: min(20vw, 149px);
      height: min(20vw, 110px);
      background: center/contain no-repeat url("/union-icon.svg");
    }
    max-width: min(30vw, 235px);
    height: min(30vw, 240px);
    background: top/cover no-repeat
      url("https://images.unsplash.com/photo-1499651681375-8afc5a4db253?q=80&w=1997&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }

  // .preview__item-3

  &__item-3 {
    max-width: min(30vw, 235px);
    height: min(30vw, 190px);
    background:
      center/contain no-repeat url("/pencil-icon.png"),
      #5d34ff;
    background-size: 50%;
  }

  // .preview__item-4

  &__item-4 {
    max-width: min(30vw, 367px);
    height: min(30vw, 190px);
    background: top/cover no-repeat
      url("https://images.unsplash.com/photo-1533143562855-d018b598571a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }

  // .preview__item-5

  &__item-5 {
    // preview-icon
    &::before {
      content: "";
      position: relative;
      top: -33%;
      left: 72%;
      display: block;
      max-width: min(20vw, 149px);
      height: min(20vw, 110px);
      background: center/contain no-repeat url("/preview-icon.png");
    }
    max-width: min(30vw, 40%);
    height: min(30vw, 240px);
    background: top/cover no-repeat
      url("https://images.unsplash.com/photo-1529068755536-a5ade0dcb4e8?q=80&w=2081&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }

  // .preview__item-6

  &__item-6 {
    max-width: min(30vw, 30%);
    height: min(30vw, 240px);
    background: center/contain no-repeat url("/user-icon.png") #e0ff22;
    background-size: 50%;
  }

  // .preview__item-7

  &__item-7 {
    max-width: min(30vw, 30%);
    height: min(30vw, 240px);
    background: center/contain no-repeat url("/crown-icon.png") #ffd360;
    background-size: 50%;
  }
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
}
