.column-header {
  // .column-header__container
  position: relative;
  &__container {
  }

  // .column-header__row

  &__row {
    margin-bottom: 30px;
  }

  // .column-header__textarea

  &__textarea {
    &::after {
      // content: "";
      // display: inline-block;
      // width: 18px;
      // height: 18px;
      // background: no-repeat url("/icon-edit.svg");
      // cursor: pointer;
    }
    display: flex;
    align-items: center;
    width: 100%;
    textarea {
      cursor: pointer;
      &:focus {
        outline: none;
        border: none;
      }
      resize: none;
      border: none;
      height: 28px;
      font-weight: 600;
      font-size: 18px;
    }
    @media (max-width: 575.98px) {
      width: 92%;
    }
  }

  // .column-header__button

  &__button {
    min-width: 24px;
    width: 24px;
    height: 24px;
    background: left/cover no-repeat url("/more-icon.svg");
    background-size: 44px;
    transition: none;
    &.active,
    &:hover {
      background-position: right;
    }
    @media (max-width: 575.98px) {
      background: center/cover no-repeat url("/setting-board-icon.svg");
    }
  }

  // .column-header__settings

  &__settings {
    width: 224px;
    position: absolute;
    z-index: 1;

    right: -72%;
    top: 0;
    @media (max-width: 575.98px) {
      width: 100%;
      height: 100%;
      position: fixed;
      right: 0;
      background: var(--secondary-color);
      .mini-popup__container {
        border: none;
        box-shadow: none;
      }
    }
  }
}
