.inbox-item {
  &__link {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    @media (max-width: 991.98px) {
      margin-bottom: 0;
    }
    &.new-messages {
      &::after {
        content: attr(data-count);
        margin-right: 15px;
        margin-left: auto;
        min-width: 25px;
        height: 25px;
        padding: 0 2px;
        background: #006ad4;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--secondary-color);
      }
    }
  }
  &__box {
    padding: 13px;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    &.active {
      background: #35373954;
      border-radius: 8px;
      padding: 12px 8px;
    }
  }
}
