.visibility {
  // .visibility__container

  &__container {
  }

  // .visibility__title

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    margin-bottom: 15px;
  }

  // .visibility__box

  &__box {
    margin-bottom: 10px;
    padding: 5px;
    &.active {
      background: #eff0f6;
      border-radius: 5px;
      padding: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: no-repeat url("/check-icon.svg");
      }
    }
  }

  // .visibility__button

  &__button {
    text-align: start;
    background-color: transparent;
    font-weight: 400;
  }

  // .visibility__desc

  &__desc {
    font-size: 12px;
    display: block;
    color: #6f6c90;
  }
}
