.copy-board {
  position: relative;
  // .copy-board__form

  &__form {
    position: absolute;
    top: 0px;
    background: #ffffff;
    border: 1px solid #eff0f6;
    box-shadow: 0 5px 16px 0 rgba(8, 15, 52, 0.06);
    border-radius: 15px;
    padding: 15px;
    width: 100%;

    .button-close {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  // .copy-board__label

  &__label {
  }

  // .copy-board__input

  &__input {
    width: 100%;
    border: 1px solid #adadad;
    border-radius: 9px;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
  }

  // .copy-board__box

  &__box {
    margin-bottom: 10px;
  }

  // .copy-board__checkbox

  &__checkbox {
    & + label {
      padding-left: 5px;
    }
  }

  // .copy-board__button

  &__button {
  }
}
.button-dark {
}
