.inbox {
  * {
    transition: all 0.3s ease;
  }
  // .inbox__container

  &__container {
    @media (max-width: 1199.98px) {
    }
  }
  @media (max-width: 991.98px) {
    .side-bar__container {
      padding: 0;
    }
  }

  // .inbox__row

  &__row {
    align-items: baseline;
  }

  // .inbox__box

  &__box {
    padding: 25px 0;
    border-right: 1px solid rgb(0, 0, 0, 0.1);
    // max-width: 25%;
    max-width: 400px;
    width: 100%;
    @media (max-width: 1199.98px) {
      max-width: 300px;
    }
    @media (max-width: 991.98px) {
      max-width: 100%;
      border: none;
    }
  }
  &__viewer {
    @media (max-width: 991.98px) {
      position: fixed;
      z-index: 1;
      right: -999%;
      background-color: var(--secondary-color);
      max-width: 100%;
      height: 100%;
      top: 0;
      &.open {
        right: 0;
      }
    }
    max-width: 72%;
    width: 100%;
  }
  &__header {
    padding: 0 16px 24px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    @media (max-width: 991.98px) {
      padding: 130px 16px 0;
      border: none;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }
  }
  // .inbox__title

  &__title {
    font-weight: 500;
    font-size: 32px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 4px;
    @media (max-width: 991.98px) {
      width: auto;
    }
  }

  // .inbox__desc

  &__desc {
    margin-bottom: 25px;
    color: #7f7f7f;
    @media (max-width: 991.98px) {
      margin-bottom: 0px;
    }
  }

  // .inbox__new-message

  &__new-message {
    border-radius: 8px;
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin: 0 8px;
    min-width: 48px;
    background:
      left/cover no-repeat url("/new-message-icon.svg"),
      #3537393d;
    background-size: 88px;
    background-position-x: -9%;
  }
  &__form {
    max-width: 600px;
    position: fixed;
    right: 15px;
    bottom: 0;
    z-index: 9;
    @media (max-width: 991.98px) {
      height: 100%;
      max-width: 100%;
      right: 0;
    }
  }
}
