.notification {
  // .notification__container
  background: #ffffff;
  padding: 16px;
  box-sizing: content-box;
  max-width: 248px;
  width: 100%;
  &__container {
  }

  // .notification__box
  &__title {
    padding: 8px 4px;
    margin-bottom: 4px;
    font-size: 20px;
  }
  &__box {
  }

  // .notification__text

  &__text {
  }
}
