.notification {
  position: fixed;
  right: -999px;
  background: #ffffff;
  height: 100vh;
  overflow-x: hidden;
  box-sizing: content-box;
  max-width: 248px;
  width: 100%;
  padding: 16px;
  &.open {
    right: 0;
  }
  &__text-empty {
    color: #97a3b7;
    margin: -5px 0 15px;
  }
  &__container {
    overflow-y: scroll;
    padding-bottom: 16px;
  }
  &__content {
    border-bottom: 1px solid;
  }
  &__subtitle {
    letter-spacing: 0.04em;
    margin-bottom: 15px;
    // padding: 0 16px;
    // text-transform: uppercase;
    color: #97a3b7;
    // font-weight: 00;
  }

  // .notification__box
  &__title {
    button {
      margin-left: auto;
    }
    display: flex;
    align-items: center;
    // padding: 8px 16px;
    margin-bottom: 4px;
    font-size: 20px;
  }
  &__box {
  }

  // .notification__text

  &__text {
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    a {
      padding: 0 2px;
      display: inline;
      color: var(--primary-color);
      font-weight: 500;
      text-decoration: underline;
    }
  }
}

.notification {
  // .notification__board
  &__type {
    // padding: 16px;
    margin-bottom: 15px;
    &.active {
      padding: 7px;

      background: #e0f4ff;
      border-radius: 5px;
    }
    display: flex;
    &::before {
      content: "";
      width: 24px;
      min-width: 24px;

      height: 24px;
      display: inline-block;
      background-color: #7ab2b2;
      margin-right: 15px;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-image: url("/notifications-icon-1.svg");
      background-size: 138px 100%;
    }
    &-deleteBoardMember::before {
      background-color: #fa7070;
      background-position-x: -2%;
    }
    &-addBoardMember {
      &::before {
        background-position-x: -2%;
      }
    }
  }
  &__board {
    display: inline-block;
    padding: 0 2px;
  }

  // .notification__user

  &__user {
    display: inline-block;
  }

  // .notification__subtitle
  &__info {
    font-size: 12px;
    // color: var(--primary-color);
    a {
      display: inline;
      text-decoration: underline;
      color: var(--primary-color);
    }
    span {
      font-size: 12px;
      opacity: 0.4;
      display: block;
    }
  }
  &__subtitle {
  }
}
