.title-large-72 {
  font-weight: 500;
  font-size: calc(min(8vw, 72px));
  line-height: 125%;
}
.text-green {
  text-transform: uppercase;
  color: #2b6462;
}
.text-green-large {
  font-size: calc(min(5vw, 25px));
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #2b6462;
}
.text-underline {
  display: inline-block;
  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 50%;
    background-color: #97a3b7;
  }
}
.underline {
  cursor: pointer;
  width: max-content;
  &:hover {
    &::after {
      width: 35%;
      background-color: #97a3b7;
    }
  }
  &::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    background-color: transparent;
    transition: width 0.3s ease;
  }
}
.card-sidebar-title {
  letter-spacing: 0.04em;
  margin-bottom: 10px;
  color: #9896a3;
}
.text-error {
  color: #ff432a;
  font-size: 12px;
}

.text-center {
  text-align: center;
}
.text-color-button {
  button {
    width: 100%;
    text-transform: capitalize;
    margin-bottom: 5px;
    &.active,
    &:hover {
      cursor: pointer;
      background: var(--purple-dark-color);
      color: var(--secondary-color);
    }
  }
}
