.add-board {
  position: fixed;
  width: 100%;
  height: 100%;

  background-color: var(--secondary-color);
  top: 99%;
  left: 0;
  &.open {
    top: 0;
  }
}
.button-add-board {
  background: transparent;
}
