.change-background {
  background-color: var(--secondary-color);
  z-index: 1;
  position: relative;

  &__container {
  }

  // .change-background__box

  &__box {
  }

  // .change-background__tab

  &__tab {
  }
}
.flex {
}
.d-flex {
}
.flex-wrap {
}
